.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba($color: $color-black, $alpha: 0.75);

  opacity: 0;
  visibility: hidden;
  //   display: none;
  transition: all 0.3s;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &__content {
    @include put-center;
    width: 75%;
    // height: 50vh;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color: #ffffff, $alpha: 0.2);
    border-radius: 1rem;
    border: 1px solid $color-primary;
    display: table; //old way before flex and grid :)
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.3s 0.1 s;
    @include respond(tab-land) {
      display: block;
      width: 70%;
    }
  }

  &:target &__content {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__left {
    width: 33.333333%;
    display: table-cell;
    @include respond(tab-land) {
      display: block;
      margin: 0 auto;
      width: 90%;
      text-align: center;
      padding: 1rem;
    }
  }

  &__right {
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
    @include respond(tab-land) {
      text-align: center;
    }
  }

  &__img {
    display: block;
    width: 100%;
    margin: 0;
    @include respond(tab-land) {
      width: 40%;
      display: inline;
      border-radius: 3rem;
      padding: 1rem auto;
      margin: 0 1rem;
    }
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 2rem;

    //nice and handy css column
    column-count: 2;
    column-gap: 2em;
    column-rule: 1px solid $color-grey-light; // the line in gap
    hyphens: auto;
  }

  &__close {
    &:link,
    &:visited {
      font-size: 4rem;
      position: absolute;
      top: 3%;
      right: 3%;
      text-decoration: none;
      display: block;
      color: $color-primary;
      font-weight: 900;
      transition: all 0.3s;

      line-height: 1;
    }

    &:hover {
      color: orangered;
      text-shadow: 0 0 2rem $color-primary;
    }
  }
}
